.snippet-card-arrow {
  transition: transform 0.5s;
}

.snippet-card-arrow-open {
  transform: rotate(180deg);
}

.snippet-card-code > pre {
  border-radius: 6px;
}

.snippet-card-link {
  overflow-x: hidden;
  overflow-y: visible;
}

.snippet-card-name {
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.snippet-card-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.5em;
}

.white-icon {
  filter: invert(var(--bulma-scheme-main-l));
}

#flashes {
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 10vw;
  right: 10vw;
}

.flashes-box {
  box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.2);
  color: black;
}

.social-links-box {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.social-links-box a {
  display: inline-block;
  max-width: 90%;
  white-space: nowrap; /* Prevent line wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis for truncation */
  vertical-align: middle;
}

#image-preview-container {
  display: none;
}