.snippet-card-private {
  display: inline-block;
}

.snippet-card-private > button {
  pointer-events: none;
}

.snippet-card-code > pre {
  padding: 0px;
}

.snippet-card-open {
  position: fixed;
  left: 50%;
  top: 5vh;
  z-index: 50;
  padding: 20px;
  width: 800px;
  margin-left: -400px;
}

@media screen and (max-width: 820px) {
  .snippet-card-open {
    margin-left: unset;
    width: unset;
    left: 10px;
    right: 10px;
    background-color: red;
  }
}

.snippet-card-open > .box {
  overflow-y: auto;
  max-height: 85vh;
}

.snippet-card-code > pre {
  border-radius: 6px;
}

.snippet-card-link {
  overflow-x: hidden;
  overflow-y: visible;
}

.snippet-card-name {
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.snippet-card-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.5em;
}

.white-icon {
  filter: invert(var(--bulma-scheme-main-l));
}

#flashes {
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 10vw;
  right: 10vw;
}

.flashes-box {
  box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.2);
  color: black;
}

.social-links-box {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.social-links-box a {
  display: inline-block;
  max-width: 90%;
  white-space: nowrap; /* Prevent line wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis for truncation */
  vertical-align: middle;
}

#image-preview-container {
  display: none;
  overflow: hidden;
  border: 3px solid #ddd;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50% !important;
  border: 3px solid rgba(255, 255, 255, 0.8) !important;
  outline: none !important;
}

.navbar-fill-middle {
  display: flex;
  flex: 1;
}

.stick-top {
  position: sticky;
  top: 0;
}

.horiz-line {
  border-bottom: 1px solid
    hsla(
      var(--bulma-scheme-h),
      var(--bulma-scheme-s),
      var(--bulma-border-l),
      0.5
    );
  width: 100%;
}

.tiny-horiz-line {
  border-bottom: 1px solid
    hsla(
      var(--bulma-scheme-h),
      var(--bulma-scheme-s),
      var(--bulma-border-l),
      0.5
    );
  width: 1em;
}

.results-show-all {
  padding-left: 1em;
  padding-right: 1em;
  text-wrap: nowrap;
}

#dropdown-menu > .dropdown-content {
  width: 800px;
  max-height: 300px;
  overflow-y: auto;
}

#user-selection {
  max-height: 500px;
  overflow-y: auto;
}
