{% extends "createSnippet.html" %}
{% block title %}Edit {{ snippet["name"] }} - Snippet Oracle{% endblock %}
{% block heading %}<h1 id="edit" class="title has-text-centered">Edit</h1>{% endblock %}
{% block snippetName %}value="{{ snippet["name"] }}"{% endblock %}
{% block snippetCode %}{{ snippet["code"] }}{% endblock %}
{% block snippetDesc %}{{ snippet["description"] }}{% endblock %}
{% block submitText %}Save Changes{% endblock %}
<!-- Back Button -->
{% block backButton %}
  <div class="has-text-centered mt-4">
    <a class="button is-light is-fullwidth is-rounded" id="cancel">Cancel</a>
  </div>
{% endblock %}
{% block data %}
  {{ super() }}
  <script id="shared-users" type="application/json">{{ users | tojson | safe }}</script>
  <script id="tags" type="application/json">{{ tags | tojson | safe }}</script>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='cancel.js') }}"></script>
{% endblock %}
