{% extends "createSnippet.html" %}

{% block title %}Edit {{ snippet["name"] }} - Snippet Oracle{% endblock %}

{% block heading %}
<h1 id="edit" class="title has-text-centered">Edit</h1>
{% endblock %}

{% block snippetName %}
value="{{ snippet["name"] }}"
{% endblock %}

{% block snippetCode %}
{{ snippet["code"] }}
{% endblock %}

{% block snippetDesc %}
{{ snippet["description"] }}
{% endblock %}

{% block buttons %}
<div class="field mt-4">
  <div class="control">
      <button class="button is-primary is-medium is-rounded">Confirm</button>
  </div>
</div>
</form>

<!-- Back Button -->
<div class="has-text-centered mt-4">
<a class="button is-light is-rounded" id="cancel">Cancel</a>
</div>
{% endblock %}

{% block data %}
{{super()}}
<script id="tags" type="application/json">
  {{ tags | tojson | safe }}
  </script>
  
  <script id="shared-users" type="application/json">
  {{ users | tojson | safe }}
  </script>
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='cancel.js') }}"></script>
<script src="{{ url_for('static', filename='userSelection.js') }}"></script>
<script src="{{ url_for('static', filename='tag_handler.js') }}"></script>
{% endblock %}
