{% extends "layout.html" %}

{% block title %}Edit {{ snippet["name"] }} - Snippet Oracle{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="box p-5">
            <h1 class="title has-text-centered">Edit</h1>

            <form method="post">
                <!-- Snippet Name -->
                <div class="field">
                    <label class="label">Snippet Name</label>
                    <div class="control">
                        <input class="input is-medium is-rounded" type="text" name="name" value="{{ snippet["name"] }}">
                    </div>
                </div>

                <!-- Snippet Code -->
                <div class="field">
                    <label class="label">Code</label>
                    <div class="control">
                        <textarea class="textarea is-medium is-family-code" name="code" rows="6" required>{{ snippet["code"] }}</textarea>
                    </div>
                </div>

                <!-- Snippet Description -->
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" name="description">{{ snippet["description"] }}</textarea>
                    </div>
                </div>

                <!-- Snippet Tags -->
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" name="tags">{% for tag in tags %}{% if tag["name"] %}{{tag["name"]}}, {%endif%}{% endfor %}</textarea>
                    </div>
                </div>

                <!-- Visibility Toggle as a Button -->
                <div class="field">
                    <label class="label">Visibility</label>
                    <div class="control">
                        <button type="button" id="visibilityToggle" class="button is-light is-rounded">
                            <span class="icon">
                                <i id="visibilityIcon" class="fas fa-lock"></i>
                            </span>
                            <span id="toggleText">Private</span>
                        </button>
                        <input type="hidden" name="is_public" id="isPublic" value="0">
                    </div>
                </div>

                <!-- User Selection (Only visible if Private) -->
                <div class="field" id="permittedUsersField" style="display: none;">
                    <label class="label">Share with Specific Users</label>
                    <div class="box is-shadowless">
                        <div class="field">
                            <input type="text" id="userSearch" class="input is-rounded" placeholder="Search users...">
                        </div>
                        <div id="selected-users" class="tags are-medium"></div>
                        <div id="user-selection" class="box is-light" style="display: none;"></div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="field mt-4">
                    <div class="control">
                        <button class="button is-primary is-medium is-rounded">Confirm</button>
                    </div>
                </div>
            </form>

            <!-- Back Button -->
            <div class="has-text-centered mt-4">
                <a class="button is-light is-rounded" href="{{ url_for('snippets') }}">Back to My Snippets</a>
            </div>
        </div>
    </div>
</section>

<script id="user-data" type="application/json">
    {{ all_users | tojson | safe }}
</script>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='userSelection.js') }}"></script>
{% endblock %}
