{% extends "layout.html" %}

{% block title %}Welcome - Snippet Oracle{% endblock %}

{% block content %}

<section class="section">
    <h1 class="title">Welcome to Snippet Oracle</h1>
    <p>Manage and share your code snippets easily.</p>

    <!-- Button to go to the Create Snippet page -->
    <a class="button is-primary" href="{{ url_for('createSnippet') }}">Create Snippet</a>

    <!-- Button to view all snippets created by the user -->
    <a class="button is-link" href="{{ url_for('snippets') }}">View My Snippets</a>
</section>
<section class="section">
    <div class="content">
        <p>Python says: {{ example }}</p>
        <p id="demo">Javascript says: </p>
    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}