{% macro snippetCard(elementId, snippet, editable=True) -%}
  <div {% if elementId %}id="{{ elementId }}"{% endif %}
       class="snippet-card has-text-left cell mb-2"
       data-snippet-id='{{ snippet.get('id', None) }}'
       data-code='{{ snippet.get('code', None) }}'>
    <div class="box">
      <!-- Snippet Header: Name + Buttons + Visibility -->
      <div class="snippet-card-header columns is-mobile mb-0">
        <!-- Snippet Name (Left) -->
        <a class="snippet-card-link column has-text-left"
           href="#"
           onclick="goToSnippet($(this).closest('.snippet-card'))">
          <h2 class="snippet-card-name title pb-2 is-4">{{ snippet.get('name', '') }}</h2>
        </a>
        <!-- Buttons + Visibility (Right) -->
        <div class="column has-text-right is-narrow">
          <!-- Visibility Status -->
          {% if not snippet["is_public"] %}
            <div class="snippet-card-private" title="Private">
              <button class="button is-small is-danger ml-2">
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
              </button>
            </div>
          {% endif %}
          <!-- Copy Button -->
          <button class="snippet-card-copy button is-small is-info ml-2"
                  title="Copy Code"
                  onclick="copySnippet($(this).closest('.snippet-card'))">
            <span class="icon">
              <i class="fas fa-copy"></i>
            </span>
          </button>
          {% if editable %}
            <!-- Edit Button -->
            <button class="snippet-card-edit button is-small is-info ml-2"
                    title="Edit Snippet"
                    onclick="editSnippet($(this).closest('.snippet-card'))">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </button>
            <!-- Delete Button -->
            <button class="snippet-card-delete button is-small is-info ml-2"
                    title="Delete Snippet"
                    onclick="confirmDeleteSnippet($(this).closest('.snippet-card'))">
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          {% endif %}
          <!-- Expand Button -->
          <button class="snippet-card-expand button is-small is-primary ml-2"
                  title="Expand"
                  onclick="toggleSnippet($(this).closest('.snippet-card'))">
            <span class="snippet-card-arrow icon">
              <i class="fas fa-eye"></i>
            </span>
          </button>
        </div>
      </div>
      <!-- Snippet Header: Profile Picture & Owner Name -->
      <div class="snippet-card-user is-flex is-align-items-center">
        <!-- Profile Picture -->
        {% if snippet.get("author") %}
          <div class="media-left">
            <figure class="image is-32x32">
              <a href="{{ url_for('profile', username=snippet['author']['name']) }}">
                <img class="is-rounded"
                     src="{{ url_for('static', filename='profile_pictures/' + (snippet['author']['profile_picture'] if snippet['author']['profile_picture'] else 'default_image.png') ) }}"
                     alt="{{ snippet['author']['name'] }}'s profile picture">
              </a>
            </figure>
          </div>
          <!-- Owner Name -->
          <div class="media-content ml-2">
            <p class="title is-6">
              <a href="{{ url_for('profile', username=snippet['author']['name']) }}"
                 class="white-icon has-text-light has-text-weight-medium">{{ snippet['author']['name'] }}</a>
            </p>
          </div>
        {% endif %}
      </div>
      <!-- Snippet Description (Middle) -->
      <p class="snippet-card-summary column is-italic mb-4">{{ snippet.get('description', '') }}</p>
      <div class="columns is-mobile">
        <div class="column">
          <div class="snippet-card-tags tags-container tags">{{ tagsDisplay(snippet.get('tags', []) , 6) }}</div>
        </div>
        <div class="column is-narrow">
          <div class="level is-mobile">
            <div class="level-item">
              <button class="snippet-card-like-button icon-text {% if snippet.get('is_liked', False) %}has-text-link{% endif %}"
                      onclick="likeSnippet($(this).closest('.snippet-card'))">
                <span class="icon is-small"><i class="fas fa-thumbs-up"></i></span>
                <span class="snippet-card-likes">{{ snippet.get('likes', 0) }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}
{% macro tagsDisplay(tags, limit=None) -%}
  {% for tag in tags[:limit] %}
    <a href="{{ url_for('index', q='+' + tag) }}"
       class="tag is-info search-tag">{{ tag }}</a>
  {% endfor %}
  <!-- Dummy tag to ensure spacing is correct even with no tags -->
  <span class="tag is-invisible"></span>
{%- endmacro %}
