{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ user.name }} - Profile{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
{% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="level">
        <h1 class="title is-4 level-left">Profile Page</h1>
        {% if is_owner %}
          <button class="button is-primary level-right" onclick="openEditModal()">Edit Profile</button>
        {% endif %}
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-square">
            <img class="is-rounded"
                 src="{{ url_for('static', filename='profile_pictures/' + (user.profile_picture if user.profile_picture else 'default_image.png') ) }}"
                 alt="Profile Picture"
                 style="object-fit: cover;
                        width: 100%;
                        height: 100%">
          </figure>
        </div>
        <div class="column">
          <div class="box">
            <div class="box">
              <h2 class="title is-3">{{ user.name }}</h2>
            </div>
            <div class="box">
              <h4 class="title is-5 mb-5">Bio</h4>
              <p class="subtitle">{{ user.bio }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="box social-links-box">
            <h4 class="title is-5">Social Links</h4>
            <ul>
              {% for link in links %}
                <li>
                  <a href="{{ link[1] }}" target="_blank" title="{{ link[1] }}">
                    <img src="{{ get_social_icon(link[1]) }}"
                         alt="{{ link[0] }}"
                         style="width: 20px;
                                height: 20px;
                                margin-right: 8px"
                         class="white-icon">
                    <span class="social-links-box">{{ link[1] }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="level profile-titles">
              <div class="level-left">
                <div class="level-item">
                  <h4 class="title is-10">
                    {% if is_owner %}
                      Your Snippets
                    {% else %}
                      Public Snippets
                    {% endif %}
                  </h4>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  {% if is_owner %}<a class="button is-light" href="{{ url_for("createSnippet") }}">Create New Snippet</a>{% endif %}
                  <a class="button is-info ml-3" href="{{url_for('index', q='@' ~ user.name, public=1)}}">
                    <span class="icon">
                      <i class = "fas fa-search"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="container grid is-col-min-24" id="snippet-grid">
              {% if snippets %}
                {% for snippet in snippets %}
                  {{ macros.snippetCard(None, snippet, editable=snippet["user_id"] == (current_user.id | int if current_user.is_authenticated else -1) ) }}
                {% endfor %}
              {% else %}
                <p>No snippets found. Start creating your first snippet!</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal" id="edit-modal">
    <div class="modal-background" onclick="closeEditModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h3 class="title is-4">Edit Profile</h3>
        <form method="POST"
              action="/profile"
              id="edit-profile-form"
              enctype="multipart/form-data">
          <div class="field">
            <label class="label">Bio</label>
            <div class="control">
              <textarea class="textarea"
                        name="bio"
                        placeholder="Write something about yourself..."
                        id="bio-input"
                        maxlength="250"
                        oninput="updateCharacterCount('bio-input', 'bio-char-count')">{{ user.bio }}</textarea>
            </div>
            <div class="char-counter-container">
              <p id="bio-char-count">0/250</p>
            </div>
          </div>
          <div class="field">
            <label class="label">Profile Picture</label>
            <div class="control">
              <input class="input"
                     type="file"
                     name="profile_picture"
                     id="profile-picture-input"
                     placeholder="Upload your profile picture"
                     accept="image/*"
                     onchange="previewImage(event)">
            </div>
            <div id="image-preview-container" class="mt-3">
              <img id="image-preview" class="image-preview" src="" alt="Image Preview">
            </div>
          </div>
          <div class="field">
            <label class="label">Social Links</label>
            <div id="social-links-container">
              {% for link in links %}
                <div class="control">
                  <input class="input"
                         type="text"
                         name="links"
                         placeholder="Enter a URL"
                         value="{{ link[1] }}">
                </div>
              {% endfor %}
              <div class="control">
                <input class="input" type="text" name="links" placeholder="Enter a new URL">
              </div>
            </div>
            <button type="button"
                    class="button is-small is-link mt-2"
                    onclick="addSocialLink()">Add Link</button>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary"
                      type="button"
                      id="submit-button"
                      onclick="submitProfileForm(event)">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large"
            aria-label="close"
            onclick="closeEditModal()"></button>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='profile.js') }}"></script>
  <script src="{{ url_for('static', filename='userSelection.js') }}"></script>
{% endblock %}
