{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}Your Snippets - Snippet Oracle{% endblock %}
{% block content %}
  <section class="section">
    <h1 class="title">Your Snippets</h1>
    <!-- Buttons to navigate -->
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-light" href='{{ url_for("createSnippet") }}'>Create New Snippet</a>
      </div>
    </div>
    {% if snippets %}
      <div class="grid is-col-min-20 mt-5">
        {% for snippet in snippets %}
          {{ macros.snippetCard("snippet-" ~ loop.index, snippet, editable=True) }}
        {% endfor %}

        <!-- Fill up rightmost grid slots when there are only one or two snippets -->
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    {% else %}
      <p>You haven't created any snippets yet!</p>
    {% endif %}
  </section>
{% endblock %}
